/*html {
	background-color: green;
} */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin: 20px;
	line-height: 1.4em;
}


* {
	box-sizing: border-box;
}


img {
	max-width: 100%;
}


ul {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}


.octocat {
	float: left;
	width: 31%; /* 446px; */
	list-style: none;
	margin-right: 1.5%; /* 24px; */
}


.octocat > a {
	display: inline-block;
	border: 1px solid #c3c3c3;
	border-radius: 2px;
	/*margin: 12px;*/
}


.image-footer {
	border-bottom: 1px solid #c3c3c3;
	/*line-height: 52px;*/
	padding: 12px 0 12px 0;
	margin: 0 0 22px;
	/*vertical-align: middle;*/
	position: relative;
}

.image-footer:before {
    content: "";
    display: block;
    position: absolute;
    right: 6px;
    top: 0;
    border: 8px solid transparent;
    border-top-color: #c3c3c3;
}

.image-caption {
	float: right;
	line-height: 28px;
	vertical-align: middle;
	color: #666;
}


.image-number {
	color: #ccc;
	vertical-align: middle;
	margin-left: 4px;
}


.image-number:before {
	content: "#";
}


.authors,
.authors li,
.authors a {
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
}


.authors a {
	display: inline-block;
	width: 28px;
	border: none;
}


.authors li {
	list-style: none;
}
